@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: Montserrat;
}
a {
  color: inherit;
}
:root {
  /* background-color: teal; */
  --bg-gray: #f6f7fb;
  --color-blue: #2975ff;
  --color-text-dark: #1a202c;
  --color-text-light: #f7fafc;
  --color-green: #00cc96;
  --color--yellow: #ffc123;
  --color--red: #f00;
}
.bg_white {
  background-color: #fff;
}
.container {
  width: 1200px;
  max-width: 95%;
  margin: 0 auto;
}
header {
  height: 96px;
  padding-top: 48px;
  margin-bottom: 96px;
}
.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
}
header .modal_toggler {
  position: relative;
  width: 48px;
  height: 48px;
}
header .modal_toggler .toggler_icon,
header .modal_toggler .toggler_iconx {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.header_modal nav {
  margin-top: 72px;
  position: relative;
}
.header_modal nav > ul {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translateX(-65%);

  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 161px;
  margin: 0 auto;
  transition: 0.4s;
  text-align: center;
}
.header_modal nav ul .has_dropdown {
  position: relative;
}
.header_modal nav .dropdown {
  transition: 0.2s;
  transform: translateY(20px);
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.header_modal nav .has_dropdown:hover .dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0) translateX(72px);
}

header .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  gap: 32px;
}
header .icons .basket_icon {
  position: relative;
}
header .icons .basket_icon .basket_circle {
  position: absolute;
  left: 15px;
  bottom: 15px;
}
.demo {
  border-radius: 64px;
  background-color: var(--bg-gray);
  height: 600px;
  display: flex;
  margin-bottom: 144px;
}
.demo .demo_img {
  width: 50%;
  margin-top: 24px;
  margin-right: 24px;
  height: 576px;
}
.demo .demo_img img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}
.demo .demo_left {
  width: 40%;
  margin-left: 96px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 600px;
}
.demo .demo_left .title {
  margin-bottom: 64px;
}
/* .demo .demo_left p{
  color: var(--color-text-dark);
  font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 56px;
margin-bottom: 12px;
margin-top: 5px;
} */
.demo .demo_left a {
  color: var(--color-text-light);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  padding: 16px 40px;
  border-radius: 32px;
  background-color: var(--color-green);
  width: max-content;
}
.header_modal {
  position: fixed;
  top: 96px;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 100vh;
  z-index: 9999;
}
.by_category .category_icon {
  background-color: var(--bg-gray);
  width: 128px;
  height: 128px;
  border-radius: 24px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

.by_category .category_icon:hover {
  transform: translateY(-10px);
}
.by_category .category_icon img {
  width: 40px;
  height: 34px;
}
.by_category .category_icon p {
  color: var(--color-text-dark);
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  padding-top: 16px;
}
.by_category .category_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  margin-top: 72px;
}

.bg_white .title {
  color: var(--color-text-dark);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  margin-top: 5px;
}
footer {
  padding-top: 144px;
  padding-bottom: 72px;
}
.footer_col .rights {
  padding-top: 24px;
}
.footer_col .col_title {
  color: var(--color-text-dark);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}
footer .footer_inner {
  display: flex;
  justify-content: center;
  gap: 176px;
}
.footer_col ul li {
  padding-top: 16px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.footer_col .footer_icons {
  padding-top: 32px;
  display: flex;
  gap: 16px;
}
.footer_icons .footer_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-gray);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  transition: 0.2s;
}
.footer_icons .footer_icon:hover {
  transform: translateY(-10px);
}
.footer_col ul li {
  transition: 0.2s;
}
.footer_col ul li:hover {
  color: #00cc96;
}
.newsletter {
  padding-top: 144px;
}
.letter_inner {
  background-color: var(--bg-gray);
  height: 392px;
  border-radius: 56px;
  text-align: center;
  padding-top: 96px;
}
.letter_inner .letter_input {
  width: 448px;
}
.letter_inner .letter_input input {
  width: 100%;
  padding: 16px 0 16px 24px;
  border: none;
  border-radius: 32px;
}
.letter_inner .btn {
  padding: 16px 40px;
  background-color: var(--color-green);
  border-radius: 32px;
  color: var(--color-text-light);
  border: none;
  font-size: 20px;
  font-weight: 700;
}
/* ------------------NEWSLETTER MODAL----------------- */
.letter_inner .modal-container {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translate(-50%);
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}
.letter_inner .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.modal-open {
  overflow: hidden;
}
/* ---------------------------------------------------------------------------- */

.letter_inner .input_row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.letter_inner .input_row .message {
  font-size: 16px;
  font-weight: 700;
  color: var(--color-text-dark);
}
.header_modal li a.active {
  color: var(--color-green);
}

.why_choose {
  margin-top: 144px;
  text-align: center;
}
.why_choose .choose_cols {
  margin-top: 72px;
  display: flex;
  justify-content: space-between;
  gap: 120px;
}
.why_choose .choose_cols .choose_icon {
  background-color: var(--bg-gray);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 32px auto;
  margin-top: 0;
}
.why_choose .choose_cols .choose_col {
  width: 25%;
}
.why_choose .choose_cols .choose_col p {
  color: var(--color-text-dark);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 16px;
}
.why_choose .choose_cols .choose_col span {
  display: block;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.reviews {
  margin-top: 144px;
  width: 100%;
  height: 600px;
  border-radius: 64px;
  background-color: var(--bg-gray);
  display: flex;
  justify-content: center;
  gap: 160px;
}
.reviews .review_left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 40%;
}
.reviews .review_right {
  margin: auto 0;
  width: 40%;
}

.reviews .review_right .swiper-container {
  width: 100%;
  height: 300px; /* Set your desired height */
  position: relative;
}
.reviews .review_right .swiper-container .swiper-button-next,
.reviews .review_right .swiper-container .swiper-button-prev {
  position: absolute;
  top: 350px; /* Adjust the distance from the bottom as needed */
  width: 48px;
  height: 48px;
  background-color: var(--bg-gray); /* Button background color */
  color: #000; /* Button color */
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000; /* Ensure the buttons are above the slides */
}
.reviews .review_right .swiper-container .swiper-button-next {
  left: 50px;
  margin-left: 16px;
}

.reviews .review_right .swiper-container .swiper-button-prev {
  left: 0px;
}
.review_right .swiper-container .swiper-button-next::after,
.review_right .swiper-container .swiper-button-prev::after {
  font-size: 16px;
}
.reviews .review_right .swiper-slide img {
  margin-bottom: 32px;
}
.reviews .review_right .name {
  margin-bottom: 16px;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
}
.reviews .review_right p {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 40px;
}
.bg_white .explore_products {
  margin: 144px 0;
}
.explore_products .products {
  /* display: flex;
gap:24px;
justify-content: center; */
  /* align-items: center; */
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* row-gap: 72px; */
  row-gap: 100px;
  margin-top: 72px;
  column-gap: 24px;
}
.explore_products .products .product {
  width: 300px;
  height: 404px;
}
.explore_products .products .product .image {
  padding: 23px 0;
  background-color: var(--bg-gray);
  border-radius: 32px;
  width: 276px;
  height: 276px;
  margin-bottom: 32px;
  transition: 0.4s;
}
.explore_products .products .product .image:hover img {
  transform: scale(1.2);
  overflow: hidden;
}
.explore_products .products .product .image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: all 0.4s ease-in-out;
}
.explore_products .products .product .titles {
  width: 300px;
  /* height: 100%; */
}
.explore_products .products .product .titles .title {
  display: flex;
  align-items: center;
}
.explore_products .products .product .titles > p {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  color: var(--color-text-dark);
}

.explore_products .products .product .title p:nth-of-type(1) {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: var(--color--yellow);
  margin-right: 24px;
}
.explore_products .products .product .oldprice,
.explore_products .products .product .newprice {
  font-style: normal;
  font-weight: 600;
}
.explore_products .products .product .oldprice {
  text-decoration: line-through;
  color: rgba(26, 32, 44, 0.24);
  font-size: 16px;
  line-height: 24px;
  margin-right: 8px;
}
.explore_products .products .product .newprice {
  font-size: 20px;
  line-height: 32px;
}
.explore_products .view {
  margin-top: 144px;
}
.view_btn {
  padding: 16px 40px;
  background-color: var(--color-green);
  border-radius: 32px;
  color: var(--color-text-light);
  display: inline-block;
  text-align: center;
}
.view {
  display: flex;
  justify-content: center;
  margin-top: 72px;
}
.bg_white .swiper-pagination {
  text-align: left;
}
.review_right .swiper-pagination-bullet {
  background-color: var(--color-green);
}
.blogs {
  padding-top: 144px;
}
.blog_inner {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 70px;
  margin: 72px 0;
}
.blogs .blog .image img {
  width: 100%;
  height: 100%;
}
.blogs .blog .title p:nth-of-type(2),
.explore_products .products .product .title p:nth-of-type(1) {
  color: var(--color--yellow);
  font-size: 16px;
  font-weight: 700;
  padding: 12px 24px;
  background-color: rgba(255, 193, 35, 0.1);
  display: inline-block;
  border-radius: 24px;
}
.blogs .blog_inner .blog:nth-child(1) {
  grid-column: 1/5;
}
.blogs .blog_inner .blog:nth-child(2) {
  grid-column: 5/7;
}
.blogs .blog_inner .blog:nth-child(3) {
  grid-column: 1/3;
}
.blogs .blog_inner .blog:nth-child(4) {
  grid-column: 3/5;
}
.blogs .blog_inner .blog:nth-child(5) {
  grid-column: 5/7;
}
.blogs .blog_inner .blog:nth-child(6) {
  grid-column: 1/4;
}
.blogs .blog_inner .blog:nth-child(7) {
  grid-column: 4/7;
}
.blogs .blog_inner .blog .title p:nth-child(1) {
  margin-top: 40px;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
}
.blogs .blog_inner .blog .title p:nth-child(2) {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.subtitle {
  font-size: 16px;
  font-style: italic;
  font-weight: 600;
  line-height: 24px;
  color: var(--color-blue);
}
.title {
  color: var(--color-text-dark);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  margin-top: 5px;
  margin-bottom: 72px;
}

.first_info form,
.second_info form,
.third_info form,
.fourth_info form {
  margin: 0 auto;
  width: 496px;
}
.first_info form input,
.second_info form input,
.third_info form input,
.fourth_info form input {
  border-radius: 32px;
  border: 2px solid var(--bg-gray);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  padding: 16px 0 16px 24px;
  width: 100%;
}
.first_info form input::placeholder,
.second_info form input::placeholder,
.third_info form input::placeholder,
.fourth_info form input::placeholder {
  color: #dedad9;
}
.first_info form label,
.second_info form label,
.third_info form label,
.fourth_info form label {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.first_info .fn_inp,
.ln_inp,
.second_info .em_inp,
.second_info .ce_inp,
.third_info .ps_inp,
.third_info .cps_inp,
.fourth_info .age_inp,
.fourth_info .cn_inp {
  margin-top: 16px;
  margin-bottom: 48px;
}
.form a {
  border-radius: 32px;
  padding: 16px 40px;
}
.form .signup_btn {
  background-color: var(--color-green);
  color: var(--color-text-light);
}
.form .login_btn {
  background-color: var(--bg-gray);
}
.form ul {
  display: flex;
  justify-content: center;
  gap: 10px;
  text-align: center;
}
.form ul li {
  width: 236px;
}
.form ul li a {
  display: block;
  width: 100%;
}
.form .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}
.form .buttons button {
  padding: 16px 40px;
  border-radius: 32px;
}

.progressbar {
  width: 400px;
  height: 4px;
  background-color: white;
  margin: 0 auto 48px auto;
}

.progressbar div {
  width: 25%;
  height: 100%;
  background-color: var(--color-green);
  border-radius: 16px;
}
.fourth_info .accept,
.formlogin .accept {
  display: flex;
  align-items: center;
  height: 32px;
  gap: 16px;
  margin: 48px 0;
}
.fourth_info .accept label span {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  text-decoration-line: underline;
}
.fourth_info .accept .acc_inp,
.formlogin .acc_inp {
  border-radius: 50%;
  display: flex;
  align-items: center;
  background-color: var(--color-green);
  width: 32px;
  height: 32px;
}

.formlogin form {
  margin: 0 auto;
  width: 496px;
}
.formlogin form input {
  border-radius: 32px;
  border: 2px solid var(--bg-gray);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  padding: 16px 0 16px 24px;
  width: 100%;
}
.formlogin form input::placeholder {
  color: #dedad9;
}
.formlogin form label {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.formlogin form .em_inp,
.formlogin form .ps_inp {
  margin-top: 16px;
  margin-bottom: 48px;
}
.formlogin .login_btn {
  padding: 16px 40px;
  text-align: center;
  display: inline-block;
  width: 100%;
  border-radius: 32px;
  background-color: var(--color-green);
  color: var(--color-text-light);
}
.formlogin ul {
  height: 64px;
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
}
.formlogin ul li {
  width: 236px;
}
.formlogin ul li a {
  display: inline-block;
  width: 100%;
}
.formlogin .signup_btn {
  background-color: var(--bg-gray);
  border-radius: 32px;
  padding: 16px 40px;
}
.formlogin .accept,
.fourth_info .accept,
.step1 .accept
 {
  height: 32px;
  display: flex;
  align-items: center;
}
.formlogin .accept input,
.fourth_info .accept input,
.step1 .accept input
 {
  display: none;
}
.formlogin .accept label,
.fourth_info .accept label,
.step1 .accept label
 {
  position: relative;
  margin-left: 48px;
  height: 32px;
}
.formlogin .accept label::before,
.fourth_info .accept label::before,
.step1 .accept label::before
 {
  content: "";
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-48px, 0px);
  background-color: var(--color-green);
}
.formlogin .accept label::after,
.fourth_info .accept label::after,
.step1 .accept label::after
{
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  /* border: 4px solid white; */
  position: absolute;
  top: 7px;
  left: -40px;
  transform: scale(0);
  background-color: white;
  transition: 0.3s;
  margin-right: 30px;
}
.formlogin .accept input[type="checkbox"]:checked + label::after,
.fourth_info .accept input[type="checkbox"]:checked + label::after,
.step1 .accept input[type="checkbox"]:checked + label::after
{
  transform: scale(1);
}
.about .about_bg {
  background-image: url("https://s3-alpha-sig.figma.com/img/0761/db2b/9987d15b8d908f778b473f956e120d28?Expires=1699228800&Signature=XuPzRA1ejEk3wCr1NEW~X0rRF9pYYYkVMCUwCS46W3A6lYUPfYboQKwFlGpGqDnYghgHXDWYYpNgAA0H6GnWfajE21QdcnDjJV8Jz5sfQogjVZh4~xawCpeMoO-lAkNBhsCfA7zeZdLkfy3VuaR8srsoAfdGlpP3BoTlw150QzIpSiyLvwj62x36bDxOA73w9xTrDIpmkd8Qtl1ssEb3kIEZ1RdFGqxgfv7UU9f7Y6o5pcuQwnK4mxIQpFDLtMzWZb3SZxAP8Hcs-RU1ei2gMCOKOy2VDWLk9960mHdKAEOJ40XP3MU72neh6orOK~55ctdxHYu3aD~XHK2-eRgEJA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
  height: 600px;
  border-radius: 64px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 144px;
}
.about .about_inner .about_left {
  width: 40%;
}
.about .about_inner span {
  font-size: 20px;
  font-weight: 500;
}
.about .about_inner span i {
  margin-left: 16px;
  margin-right: 24px;
  font-size: 16px;
}

.about .about_inner .about_left .info_bg {
  background-image: url("https://s3-alpha-sig.figma.com/img/ba9a/ed0a/8619c9c26822ad748a0818a12f7eaa50?Expires=1694390400&Signature=C7sOrpyFSzQsqFqxXFcyOcYOkL5C-l-H4~NwgP6P9ynOFgJcSOwFtWqVdOOShjwi~tgztSXZfwZFyg5UhP3b~t-nJuTEQPbG8P2V75WnnbEyMeT1L1xi9CMRViDtOrN32Juj61yGSXGSMrvTUAIDCPqwuho1cubyQVNEUCGIawWBRIjnM4fE9p40VCrYHhxPELUTmCRc~tWTUffjUc7sPaHkgUt-XdeNQmDA7P5kATR8TsBVcDuR1GY3ElAzZ~XyOGhNEq2pStG-Gk~osq39RDhGsrchNNwKUfK0OU7WDbuDIlW-niSsTsp17Vmp~IRJr2Ae9NHYOobzC5vm9UxS7g__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
  height: 560px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 56px;
}
.about .about_inner .about_right {
  margin-top: 100px;
  width: 40%;
}
.about .about_inner .about_right h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  color: var(--color-green);
  margin-bottom: 32px;
  display: flex;
  align-items: center;
}

.about .about_inner .about_right span {
  display: inline-block;
  margin-right: 24px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--color-green);
}

.about .about_inner .about_right p {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  margin-bottom: 48px;
}
.about .about_inner .about_info {
  display: flex;
  justify-content: space-between;
  gap: 120px;
}
.about .about_inner .choose_cols {
  margin-bottom: 72px;
}
.about .about_inner .subtitle {
  margin-top: 48px;
}
/* --------------CONTACT--------------- */
.contact span {
  font-size: 20px;
  font-weight: 500;
}
.contact span i {
  margin-left: 16px;
  margin-right: 24px;
  font-size: 16px;
}
.contact .subtitle {
  margin-top: 48px;
}
.contact .title {
  height: 112px;
}
.contact .name {
  width: 40%;
}
.contact ul li p:first-of-type {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}
.contact ul li p:nth-child(2) {
  width: 576px;

  font-size: 18px;
  font-weight: 400;
}
.contact ul li p:nth-child(2) span {
  font-size: 18px;
  font-weight: 600;
  text-decoration-line: underline;
}
.contact .main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 72px;
}
.contact .main li {
  width: 45%;
  margin-bottom: 72px;
}
.contact .contactForm {
  display: flex;
  justify-content: center;
  gap: 144px;
}
.contact .contactForm .name {
  width: 40%;
}
.contact .contactForm form {
  width: 42%;
}
.contact .contactForm form label {
  font-size: 16px;
  font-weight: 400;
}
.contact .contactForm form .input,
.contact .contactForm form .message,
.contact .contactForm form .basic-single {
  margin-top: 16px;
  margin-bottom: 48px;
}

.contact .contactForm form input {
  /* padding: 16px 280px 16px 24px; */
  width: 100%;
  padding: 16px;
  padding-left: 24px;
  border-radius: 32px;
  border: 2px solid var(--bg-gray);
  color: var(--color-text-dark);
  font-size: 20px;
  font-weight: 600;
}
.contact .contactForm form input:hover {
  border: 2px solid var(--color-blue);
}

.contact .contactForm form input::placeholder {
 color: #dedad9;
}

/* .contact .contactForm form .message input {
  height: 192px;
} */
/* .contact .contactForm form .message input::placeholder {
  font-size: 20px;
  color: var(--color-text-dark);
} */

.contact .contactForm form .message textarea {
  height: 192px;
  width: 496px;
  border-radius: 32px;
  padding-top: 16px;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 20px;
  color: var(--color-text-dark);
  font-weight: 600;
}
.contact .contactForm form .btn {
  padding: 16px 40px;
  background-color: var(--color-green);
  border-radius: 32px;
  color: var(--color-text-light);
}
/* -------------------CATEGORY---------------------------- */
.filtered_products .filtered_wrapper {
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 6px;
  row-gap: 72px;
  /* column-gap: 24px; */
  column-gap: 10px;
}
.filtered_products .filtered_wrapper .product {
  width: 300px;
  height: 404px;
}
.filtered_products .filtered_wrapper .product .image {
  background-color: var(--bg-gray);
  border-radius: 32px;
  width: 276px;
  height: 276px;
  padding: 20px;
  margin-bottom: 32px;
}
.filtered_products .filtered_wrapper .product .image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.filtered_products .filtered_wrapper .product .titles {
  width: 300px;
  /* height: 100%; */
}
.filtered_products .filtered_wrapper .product .titles .title {
  width: 300px;
  display: flex;
  align-items: center;
}
.filtered_products .filtered_wrapper .product .titles > p {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  color: var(--color-text-dark);
}

.filtered_products .filtered_wrapper .product .title p:nth-of-type(1) {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: var(--color--yellow);
  margin-right: 24px;
}
.filtered_products .filtered_wrapper .product .oldprice,
.filtered_products .filtered_wrapper .product .newprice {
  font-style: normal;
  font-weight: 600;
}
.filtered_products .filtered_wrapper .product .oldprice {
  text-decoration: line-through;
  color: rgba(26, 32, 44, 0.24);
  font-size: 16px;
  line-height: 24px;
  margin-right: 8px;
}
.filtered_products .filtered_wrapper .product .newprice {
  font-size: 20px;
  line-height: 32px;
}
.filtered_products .subtitle,
.filtered_products .title {
  width: 564px;
}
.filtered_products .subtitle,
.products_all .subtitle {
  margin-top: 48px;
}
.filtered_products span,
.products_all {
  font-size: 20px;
  font-weight: 500;
}
.filtered_products span i,
.products_all span i {
  margin-left: 16px;
  margin-right: 24px;
  font-size: 16px;
}

.filtered_products .filtered_wrapper .product .title.yellow {
  color: red;
}

.filtered_products .singleSelect {
  margin-right: 32px;
}

.filtered_products .select-options-left {
  display: flex;
}
.filtered_products .select-options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 72px;
}

/* -------------------CAREERS--------------------------------------- */
.careers_inner span {
  font-size: 20px;
  font-weight: 500;
}
.careers_inner span i {
  margin-left: 16px;
  margin-right: 24px;
  font-size: 16px;
}
.careers_inner .subtitle {
  margin-top: 48px;
}
.careers_inner .career-left {
  /* width: 440px; */
  width: 40%;
  height: 848px;
  border-radius: 48px;
  border: 2px solid var(--bg-gray);
}
.careers_inner .career-right {
  width: 55%;
}
.careers_inner .career-right .single_card {
  margin-bottom: 48px;
  padding-top: 56px;
  padding-inline: 56px;
  width: 100%;
  height: 328px;
  border-radius: 48px;
  border: 2px solid var(--bg-gray);
}
.careers_inner .career_main {
  display: flex;
  gap: 96px;
}
.careers_inner .career-right .single_card p:nth-child(1) {
  width: 600px;
  font-size: 32px;
  font-weight: 700;
}
.careers_inner .career-right .single_card p:nth-child(2) {
  margin-top: 24px;
  margin-bottom: 48px;
  font-size: 20px;
  font-weight: 400;
}
.careers_inner .btn {
  padding: 16px 40px;
  background-color: var(--color-green);
  border-radius: 32px;
  color: var(--color-text-light);
}
.careers_inner .career-left {
  padding-top: 56px;
  padding-left: 56px;
}
.careers_inner .career-left p {
  font-size: 32px;
  font-weight: 600;
}
.careers_inner .career-left label {
  display: inline-block;
  margin-top: 48px;
  margin-bottom: 16px;
}
.careers_inner .career-left .input input {
  width: 328px;
  height: 64px;
  border-radius: 32px;
  border: 2px solid var(--bg-gray);
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 24px;
}
.careers_inner .career-left .input input::placeholder {
  font-size: 20px;
  font-weight: 600;
  color: #dedad9;
}
.careers_inner .buttons {
  margin-top: 80px;
  padding-top: 20px;
  height: 60px;
}
.careers_inner .buttons .btn {
  text-align: center;
  display: inline-block;
  width: 328px;
  font-size: 20px;
  font-weight: 700;
}
.careers_inner .buttons .app_filter {
  margin-bottom: 24px;
}
.careers_inner .buttons .clear {
  background-color: var(--bg-gray);
  color: var(--color-text-dark);
}

/* --------------------------------------PRODUCT PAGE---------------------------- */
.filtered_wrapper section {
  margin-bottom: 144px;
}
.detail .product {
  display: flex;
}
.detail .product .single_image {
  background-color: var(--bg-gray);
  border-radius: 32px;
  /* padding: 5px 53px; */
  height: 152px;
  margin-right: 24px;
  margin-bottom: 24px;
  /* width: 152px;
height: 152px; */
}
.detail .product .single_image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.detail .product .image {
  background-color: var(--bg-gray);
  border-radius: 32px;
  /* padding:0 179px; */
  padding: 0 100px;
  height: 504px;
  margin-right: 72px;
  margin-bottom: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.detail .product .image img {
  /* width: 153px; */
  height: 336px;
  object-fit: contain;
}
.detail .product .titles {
  /* width: 496px; */
  width: 43%;
  margin-top: 76px;
}
.detail .product .titles .title {
  display: flex;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 32px;
}

.detail .product .titles p:nth-child(2) {
  font-size: 40px;
  font-weight: 700;
  color: var(--color-text-dark);
}

.detail .product .titles .title p:nth-of-type(1) {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: var(--color--yellow);
  margin-right: 24px;
}
.detail .product .titles .title .oldprice,
.detail .product .titles .title .newprice {
  font-style: normal;
  font-weight: 600;
}
.detail .product .titles .title .oldprice {
  text-decoration: line-through;
  color: rgba(26, 32, 44, 0.24);
  font-size: 16px;
  line-height: 24px;
  margin-right: 8px;
}
.detail .product .titles .title .newprice {
  font-size: 20px;
  line-height: 32px;
}
.detail .product .titles .sku {
  display: inline-block;
  color: rgba(26, 32, 44, 0.4);
  font-size: 16px;
  font-weight: 500;
  margin-right: 8px;
  margin-bottom: 48px;
}
.detail .product .titles .adding {
  display: flex;
  align-items: center;

  gap: 24px;
}
.detail .product .titles .adding .count {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 33%;
  height: 64px;
  padding: 16px 0;
  border-radius: 32px;
  border: 2px solid var(--bg-gray);
}
.detail .product .titles .adding .count span {
  /* display: inline-block; */
  font-size: 24px;
  font-weight: 700;
}
.detail .product .titles .adding .count .fa-chevron-left {
  font-size: 16px;
  padding-left: 25px;
  padding-right: 25px;
  cursor: pointer;
}
.detail .product .titles .adding .count .fa-chevron-right {
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}
.detail .product .titles .adding .addbtn {
  width: 201px;
  text-align: center;
  padding: 16px 30px;
  background-color: var(--color-green);
  border-radius: 32px;
  color: var(--color-text-light);
  font-size: 20px;
  font-weight: 700;
  border: none;
  cursor: pointer;
}
.detail .product .titles .adding .heart,
.filtered_wrapper .explore_feauture .feature_right .feature_icon {
  background-color: var(--bg-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.detail .product .titles .adding .fa-heart {
  font-size: 32px;
}
.filtered_wrapper .explore_feauture {
  display: flex;
}
.filtered_wrapper .explore_feauture .feature_left {
  margin-left: 84px;
  width: 48%;
}
.filtered_wrapper .explore_feauture .feature_right {
  width: 40%;
  margin-top: 32px;
  margin-left: 20px;
}
.filtered_wrapper .explore_feauture .single_feature {
  display: flex;
  gap: 32px;
  margin-bottom: 56px;
}
.filtered_wrapper .explore_feauture .single_feature .feature_icon {
  padding: 16px;
}
.filtered_wrapper .explore_feauture .single_feature p:nth-of-type(1) {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 600;
}
.filtered_wrapper .explore_feauture .single_feature p:nth-of-type(2) {
  width: 400px;
  height: 64px;
  font-size: 20px;
  font-weight: 400;
}

.explore_products .products .product,
.filtered_wrapper .product {
  position: relative;
}
.explore_products .products .product .discount_percent,
.filtered_wrapper .product .discount_percent {
  position: absolute;
  top: 24px;
  right: 0;
  padding: 8px 16px;
  border-radius: 24px;
  border: 2px solid #fff;
  background: var(--color--red);
  color: var(--color-text-light);
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}

.filtered_wrapper .related_products {
  margin: 144px 0;
}

/* ----------Product detail ---------
 */
.related_products .products {
  /* display: flex;
gap:24px;
justify-content: center; */
  /* align-items: center; */
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 72px;
  margin-top: 72px;
  column-gap: 24px;
}
.related_products .products .product {
  width: 300px;
  height: 404px;
}
.related_products .products .product .image {
  padding: 46px 0;
  background-color: var(--bg-gray);
  border-radius: 32px;
  width: 276px;
  height: 276px;
  margin-bottom: 32px;
}
.related_products .products .product .image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.related_products .product .titles {
  width: 300px;
  /* height: 100%; */
}
.related_products .products .product .titles .title {
  display: flex;
  align-items: center;
}
.related_products .products .product .titles > p {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  color: var(--color-text-dark);
}

.related_products .products .product .title p:nth-of-type(1) {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: var(--color--yellow);
  margin-right: 24px;
}
.related_products .products .product .oldprice,
.related_products .products .product .newprice {
  font-style: normal;
  font-weight: 600;
}
.related_products .products .product .oldprice {
  text-decoration: line-through;
  color: rgba(26, 32, 44, 0.24);
  font-size: 16px;
  line-height: 24px;
  margin-right: 8px;
}
.related_products .products .product .newprice {
  font-size: 20px;
  line-height: 32px;
}
/* lang */
.language-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.dropdown1 {
  position: absolute;
  display: flex;
  padding-top: 2px;
  flex-direction: column;
  background-color: transparent;
  z-index: 1;
}
/* Shopping Cart */
.cart_inner span i,
.checkout-page span i {
  padding: 0 10px;
}
.cart_inner .subtitle,
.checkout-page .subtitle {
  margin-top: 48px;
}
.cart_inner .shopping {
  display: flex;
  justify-content: space-between;
}
.cart_inner .shopping .clear_btn {
  margin-top: 10px;
  width: 120px;
  padding: 10px 10px;
  border: 1px solid #dedad9;
  background-color: white;
  border-radius: 32px;
  height: 40px;
}
.cart_inner .totalCartInner {
  display: flex;
  gap: 50px;
}
.cart_inner .totalCartInner .inner_left {
  border:1px solid #dedad9;
  padding: 24px;
  border-radius: 24px;
  width: 70%;
}
.cart_inner .totalCartInner .inner_right {
  padding: 24px;
  width: 30%;
  height: 300px;
  border: 1px solid #dedad9;
  border-radius: 24px;
}
.cart_inner .totalCartInner .inner_right > p {
  font-weight:600;
  font-size: 24px;
}
/* .cart_inner  p{
  margin: 24px;
} */
.cart_inner  .checkout_btn{
  text-align: center;
  margin: 32px;
  background-color: #00cc96;
  border-radius: 24px;
  padding: 12px;
  color: white;
  font-weight: 600;
}
/* Checkout */
.checkout-page .step-indicator{
  margin-top: 48px;
  display: flex;
  
}
/* .checkout-page .step-indicator .active{
  color:white;
  background-color: var(--color-green);
  
}
.checkout-page .step-indicator .step{
  border: 1px solid #dedad9;
  border-radius: 50%;
  text-align: center;
  padding-top: 3px;
  width: 30px;
  height: 30px;
} */
.step-wrapper {
  display: flex;
  align-items: center;
}

.step {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.step.active {
  background-color:var(--color-green);
}
.step.active .step-number{
  color:white;
}
.step-number {
  color: black;
}

.checkout-page .step-indicator .line {
  width: 150px;
  height: 2px;
  background-color:var(--color-green);
  flex-grow: 1;
}
/* Step1 */
.checkout_inner .details{

  width:50%;
  border: 1px solid black;
}
.checkout_inner .guest{
  padding: 16px 40px;
  text-align: center;
  display: inline-block;
  width: 100%;
  border-radius: 32px;
  border:1px solid #dedad9;
  color: #000;
  font-weight: 600;
  margin-top: 30px;
  background-color: white;
}
.checkout_inner .step1{
  margin-left: 0;
}
.step1{
  display: flex;
  gap: 100px;
}
.step1 form {
  margin-top: 60px;
  padding: 40px 50px;
  border: 1px solid #dedad9;
  border-radius: 32px;
  width:580px;
}
.step1 form input {
  border-radius: 32px;
  border: 2px solid var(--bg-gray);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  padding: 16px 0 16px 24px;
  width: 100%;
}
.step1 form input::placeholder {
  color: #dedad9;
}
.step1 form label {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.step1 form .em_inp,
.step1 form .ps_inp {
  margin-top: 16px;
  margin-bottom: 48px;
}
.step1 .login_btn {
  padding: 16px 40px;
  text-align: center;
  display: inline-block;
  width: 100%;
  border: 1px solid var(--color-green);
  border-radius: 32px;
  background-color: var(--color-green);
  color: var(--color-text-light);
margin-top: 25px;
}
.checkdetails, .myCart{
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 24px;
}
.step1 .checkout_right{
  margin-top: 60px;
  border-radius: 32px;
  width: 500px;
  border: 1px solid #dedad9;
  padding: 40px 50px;
} 
.step1 .house{
  display: flex;
  gap: 20px;
}
.step1 .house input{
  width: 230px;
}
.back_btn{
  margin-top: 25px;
  padding: 16px 40px;
  text-align: center;
  display: inline-block;
  width: 100%;
  border: 1px solid black;
  border-radius: 32px;
  background-color: white;
}

/* -------------------shopping card */
.cart_inner .totalCartInner .inner_left .cartItem{
  display: flex;
 
  gap: 32px;
}
.cart_inner .totalCartInner .inner_left .cartItem .itemImage{
  width: 152px;
  background-color: var(--bg-gray);
  border-radius: 32px;
  /* padding: 5px 53px; */
  
  height: 152px;
  margin-right: 24px;
  margin-bottom: 24px;
  /* width: 152px;
height: 152px; */
}
.cart_inner .totalCartInner .inner_left .cartItem .itemImage img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.cart_inner .totalCartInner .inner_right .data{
 margin-right: 24px;
 margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart_inner .totalCartInner .inner_right .total{
  font-weight: 700;
}

.cart_inner .totalCartInner .itemDetails .oldprice{
text-decoration: line-through;
color: rgba(26, 32, 44, 0.24);
font-size: 16px;
line-height: 24px;
margin-right: 8px;
}
.cart_inner .totalCartInner .itemDetails .update{
  display: flex;
  gap: 24px;
}

.cart_inner .totalCartInner .itemDetails .update .count{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width:200px;
  height: 64px;
  padding: 16px 0;
  border-radius: 32px;
  border: 2px solid var(--bg-gray);
}
.cart_inner .totalCartInner .itemDetails .update .count span{
  font-size: 24px;
  font-weight: 700;
}
.cart_inner .totalCartInner .itemDetails .update .count .fa-chevron-left{
  font-size: 16px;
  padding-left: 25px;
  padding-right: 25px;
  cursor: pointer;
}

.cart_inner .totalCartInner .itemDetails .update .count .fa-chevron-right{
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}


















 .removeBtn{
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}
.removeBtnIcon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px; /* istediğiniz boyutu ayarlayabilirsiniz */
  height: 44px; /* istediğiniz boyutu ayarlayabilirsiniz */
  line-height: 24px; /* istediğiniz boyutu ayarlayabilirsiniz */
  text-align: center;
  border-radius: 50%; /* daire yapmak için */
  background-color: white; /* arka plan rengi */
  border: 1px solid #dedad9 ;
  color: black;
  font-weight: 700;
}

.cart_inner .totalCartInner .itemDetails .newprice{
  font-size: 20px;
  line-height: 32px;
}
.cart_inner .totalCartInner .itemDetails .itemTitle{
  font-weight:600;
  font-size: 24px;
}
.cart_inner .totalCartInner .itemDetails .newprice,
.cart_inner .totalCartInner .itemDetails .oldprice{
  font-style: normal;
  font-weight: 600;
}
.cart_inner .totalCartInner .itemDetails .title{
  display: flex;
  align-items: center;
  margin: 24px 0;
}
 /* ---checkout */
 .checkout_inner .checkout_right .cartItem .itemImage{
  width: 152px;
  background-color: var(--bg-gray);
  border-radius: 32px;
  /* padding: 5px 53px; */
  height: 152px;
  margin-right: 24px;
  margin-bottom: 24px
 }
 .checkout_inner .checkout_right .itemImage img{
  width: 100%;
  
  height: 100%;
  object-fit: contain;
 }
 .checkout_inner .checkout_right .cartItem{
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: center;

 }
 .checkout_inner .checkout_right .cartItem .itemDetails{
  margin-top: 44px;
 }

 .checkout_inner .checkout_right .cartItem .itemDetails .newprice{
  font-size: 20px;
  line-height: 32px;
}
.checkout_inner .checkout_right .cartItem .itemDetails .oldprice{
  text-decoration: line-through;
  color: rgba(26, 32, 44, 0.24);
  font-size: 16px;
  line-height: 24px;
  margin-right: 8px;
  }
  .checkout_inner .checkout_right .cartItem .itemDetails .title{
    display: flex;
    align-items: center;
  }
  .checkout_inner .checkout_right .cartItem  .itemDetails {
    display:flex;
    
  
  }
  .checkout_inner .checkout_right .cartItem  .itemDetails .removeBtnIcon{
    margin-bottom: 60px;
  }

  .checkout_inner .checkout_right .data{
    /* margin-right: 24px; */
    margin-top: 24px;
     display: flex;
     align-items: center;
     justify-content: space-between;
   }
   
   .checkout_inner .checkout_right .total{
     font-weight: 700;
   }